.wb-container {
    max-width: 1616px;//12*120 + 11*16
    margin: 0 auto;
    width: 100%;
    padding: 0 1rem;
    &__fluid {
        max-width: 100%;
        margin: 0 auto;
        width: 100%;
        padding: 0 1rem;
    }
}