.wb-row {
    margin-right: auto;
    margin-left: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-right: -1rem;
    margin-left: -1rem;
  }

  .wb-col {
    padding-right: 1rem;
    padding-left: 1rem;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  $columCount: 12;

  @mixin gridItem($columWidth) {
    -ms-flex: 0 0 $columWidth;
    flex: 0 0 $columWidth;
    max-width: $columWidth;
  }

  @for $i from 1 through $columCount {
    .wb-col-#{$i} {
      $columWidth: ($i/$columCount) * 100%;
      @include gridItem($columWidth);
    }
  }

  @media print, screen and (min-width: 40em) {
    @for $i from 1 through $columCount {
      $columWidth: ($i/$columCount) * 100%;
      .wb-col-sm-#{$i} {
        @include gridItem($columWidth);
      }
      .wb-col-sm-offset-#{$i} {
        margin-left: $columWidth;
      }
    }
  }
  @media print, screen and (min-width: 48em) {
    @for $i from 1 through $columCount {
      $columWidth: ($i/$columCount) * 100%;
      .wb-col-md-#{$i} {
        @include gridItem($columWidth);
      }
      .wb-col-md-offset-#{$i} {
        margin-left: $columWidth;
      }
    }
  }
  @media print, screen and (min-width: 64em) {
    @for $i from 1 through $columCount {
      $columWidth: ($i/$columCount) * 100%;
      .wb-col-lg-#{$i} {
        @include gridItem($columWidth);
      }
      .wb-col-lg-offset-#{$i} {
        margin-left: $columWidth;
      }
    }
  }

  @media screen and (min-width: 75em) {
    @for $i from 1 through $columCount {
      $columWidth: ($i/$columCount) * 100%;
      .wb-col-xl-#{$i} {
        @include gridItem($columWidth);
      }
      .wb-col-xl-offset-#{$i} {
        margin-left: $columWidth;
      }
    }
  }
