.pascal-hide {
    display: none;
}

@media print, screen and (min-width: 40em) {
    .pascal-sm-hide {
        display: none;
    }
}

@media print, screen and (min-width: 48em) {
    .pascal-md-hide {
        display: none;
    }
}
@media print, screen and (min-width: 64em) {
    .pascal-lg-hide {
        display: none;
    }
}
@media print, screen and (min-width: 75em) {
    .pascal-xl-hide {
        display: none;
    }
}
