@charset "UTF-8";
@import url("https://projectdigitalehuisstijl.zeroheight.com/api/design_tokens?auth=erh0lJcf2UMOLJTMMIVTpw&format=css&id=40498&colorPrefix=pascal-&fontPrefix=pascal-&dl=1");
/*
    variable naming convenction: (BEM)


    1: "pascal-" witteveenbos prefix
    2: element                                  .keyvisual
    3: element__subelement (2 underscores)      .keyvisual__text
    4: element--large  modifier or variation    .keyvisual__text--large
    5: breakpoint                               .keyvisual__text_lg--large
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");
html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

article, aside, footer, header, nav, section {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

figcaption {
  display: block; }

figure {
  display: block;
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  overflow: visible; }

main {
  display: block; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }
  a:active, a:hover {
    outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  -moz-text-decoration: underline dotted;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit;
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button {
  overflow: visible;
  text-transform: none; }

select {
  text-transform: none; }

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button; }

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0; }

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: 1px dotted ButtonText; }

input {
  overflow: visible; }

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }
  [type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
    -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  box-sizing: border-box;
  display: table;
  max-width: 100%;
  padding: 0;
  color: inherit;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

details {
  display: block; }

summary {
  display: list-item; }

menu {
  display: block; }

canvas {
  display: inline-block; }

[hidden], template {
  display: none; }

.pascal-foundation-mq {
  font-family: "small=0em&mobile-small=30em&mobile=40em&medium=48em&large=64em&xlarge=75em&xxlarge=90em&xxxlarge=100em"; }

html {
  box-sizing: border-box;
  font-size: 100%; }

*, :after, :before {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic; }

textarea {
  height: auto;
  min-height: 50px;
  border-radius: 0; }

select {
  box-sizing: border-box;
  width: 100%;
  border-radius: 0; }

.pascal-map_canvas embed, .pascal-map_canvas img, .pascal-map_canvas object {
  max-width: none !important; }

.pascal-mqa-display embed, .pascal-mqa-display img, .pascal-mqa-display object {
  max-width: none !important; }

button {
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 0;
  background: transparent;
  line-height: 1;
  cursor: auto; }

[data-whatinput=mouse] button {
  outline: 0; }

pre {
  overflow: auto; }

button, input, optgroup, select, textarea {
  font-family: inherit; }

blockquote, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, li, ol, p, pre, td, th, ul {
  margin: 0;
  padding: 0; }

p {
  margin-bottom: 2.5rem;
  font-size: inherit;
  line-height: 1.4;
  text-rendering: optimizeLegibility; }

em, i {
  font-style: italic; }

b, em, i, strong {
  line-height: inherit; }

b, strong {
  font-weight: 700; }

small {
  font-size: 80%;
  line-height: inherit; }

a {
  line-height: inherit;
  color: #1779ba;
  cursor: pointer; }
  a:focus, a:hover {
    color: #1468a0; }
  a img {
    border: 0; }

hr {
  clear: both;
  max-width: 90rem;
  height: 0;
  margin: 1.25rem auto;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #828282;
  border-left: 0; }

dl, ol, ul {
  margin-bottom: 2.5rem;
  list-style-position: outside;
  line-height: 1.4; }

li {
  font-size: inherit; }

ul {
  list-style-type: disc; }

ol, ul {
  margin-left: 1.25rem; }

ol ol, ol ul {
  margin-left: 1.25rem;
  margin-bottom: 0; }

ul ol, ul ul {
  margin-left: 1.25rem;
  margin-bottom: 0; }

dl {
  margin-bottom: 1rem; }
  dl dt {
    margin-bottom: .3rem;
    font-weight: 700; }

blockquote {
  margin: 0 0 2.5rem;
  padding: false;
  border-left: false;
  line-height: 1.4;
  color: false; }
  blockquote p {
    line-height: 1.4;
    color: false; }

cite {
  display: block;
  font-size: .8125rem;
  color: #15292f; }
  cite:before {
    content: "— "; }

abbr {
  border-bottom: 1px dotted #000;
  cursor: help;
  text-decoration: none; }
  abbr[title] {
    border-bottom: 1px dotted #000;
    cursor: help;
    text-decoration: none; }

figure {
  margin: 0; }

code {
  padding: .125rem .3125rem .0625rem;
  border: 1px solid #828282;
  font-weight: 400;
  background-color: #b1b1b1;
  font-family: Consolas,Liberation Mono,Courier,monospace;
  color: #000; }

kbd {
  background-color: #b1b1b1;
  font-family: Consolas,Liberation Mono,Courier,monospace;
  color: #000;
  margin: 0;
  padding: .125rem .25rem 0; }

.pascal-row {
  margin-right: auto;
  margin-left: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-right: -1rem;
  margin-left: -1rem; }

.pascal-col {
  padding-right: 1rem;
  padding-left: 1rem;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%; }

.pascal-col-1 {
  -ms-flex: 0 0 8.33333%;
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

.pascal-col-2 {
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

.pascal-col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%; }

.pascal-col-4 {
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.pascal-col-5 {
  -ms-flex: 0 0 41.66667%;
  flex: 0 0 41.66667%;
  max-width: 41.66667%; }

.pascal-col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%; }

.pascal-col-7 {
  -ms-flex: 0 0 58.33333%;
  flex: 0 0 58.33333%;
  max-width: 58.33333%; }

.pascal-col-8 {
  -ms-flex: 0 0 66.66667%;
  flex: 0 0 66.66667%;
  max-width: 66.66667%; }

.pascal-col-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%; }

.pascal-col-10 {
  -ms-flex: 0 0 83.33333%;
  flex: 0 0 83.33333%;
  max-width: 83.33333%; }

.pascal-col-11 {
  -ms-flex: 0 0 91.66667%;
  flex: 0 0 91.66667%;
  max-width: 91.66667%; }

.pascal-col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%; }

@media print, screen and (min-width: 40em) {
  .pascal-col-sm-1 {
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .pascal-col-sm-offset-1 {
    margin-left: 8.33333%; }
  .pascal-col-sm-2 {
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .pascal-col-sm-offset-2 {
    margin-left: 16.66667%; }
  .pascal-col-sm-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .pascal-col-sm-offset-3 {
    margin-left: 25%; }
  .pascal-col-sm-4 {
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .pascal-col-sm-offset-4 {
    margin-left: 33.33333%; }
  .pascal-col-sm-5 {
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .pascal-col-sm-offset-5 {
    margin-left: 41.66667%; }
  .pascal-col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .pascal-col-sm-offset-6 {
    margin-left: 50%; }
  .pascal-col-sm-7 {
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .pascal-col-sm-offset-7 {
    margin-left: 58.33333%; }
  .pascal-col-sm-8 {
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .pascal-col-sm-offset-8 {
    margin-left: 66.66667%; }
  .pascal-col-sm-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .pascal-col-sm-offset-9 {
    margin-left: 75%; }
  .pascal-col-sm-10 {
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .pascal-col-sm-offset-10 {
    margin-left: 83.33333%; }
  .pascal-col-sm-11 {
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .pascal-col-sm-offset-11 {
    margin-left: 91.66667%; }
  .pascal-col-sm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .pascal-col-sm-offset-12 {
    margin-left: 100%; } }

@media print, screen and (min-width: 48em) {
  .pascal-col-md-1 {
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .pascal-col-md-offset-1 {
    margin-left: 8.33333%; }
  .pascal-col-md-2 {
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .pascal-col-md-offset-2 {
    margin-left: 16.66667%; }
  .pascal-col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .pascal-col-md-offset-3 {
    margin-left: 25%; }
  .pascal-col-md-4 {
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .pascal-col-md-offset-4 {
    margin-left: 33.33333%; }
  .pascal-col-md-5 {
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .pascal-col-md-offset-5 {
    margin-left: 41.66667%; }
  .pascal-col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .pascal-col-md-offset-6 {
    margin-left: 50%; }
  .pascal-col-md-7 {
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .pascal-col-md-offset-7 {
    margin-left: 58.33333%; }
  .pascal-col-md-8 {
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .pascal-col-md-offset-8 {
    margin-left: 66.66667%; }
  .pascal-col-md-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .pascal-col-md-offset-9 {
    margin-left: 75%; }
  .pascal-col-md-10 {
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .pascal-col-md-offset-10 {
    margin-left: 83.33333%; }
  .pascal-col-md-11 {
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .pascal-col-md-offset-11 {
    margin-left: 91.66667%; }
  .pascal-col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .pascal-col-md-offset-12 {
    margin-left: 100%; } }

@media print, screen and (min-width: 64em) {
  .pascal-col-lg-1 {
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .pascal-col-lg-offset-1 {
    margin-left: 8.33333%; }
  .pascal-col-lg-2 {
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .pascal-col-lg-offset-2 {
    margin-left: 16.66667%; }
  .pascal-col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .pascal-col-lg-offset-3 {
    margin-left: 25%; }
  .pascal-col-lg-4 {
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .pascal-col-lg-offset-4 {
    margin-left: 33.33333%; }
  .pascal-col-lg-5 {
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .pascal-col-lg-offset-5 {
    margin-left: 41.66667%; }
  .pascal-col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .pascal-col-lg-offset-6 {
    margin-left: 50%; }
  .pascal-col-lg-7 {
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .pascal-col-lg-offset-7 {
    margin-left: 58.33333%; }
  .pascal-col-lg-8 {
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .pascal-col-lg-offset-8 {
    margin-left: 66.66667%; }
  .pascal-col-lg-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .pascal-col-lg-offset-9 {
    margin-left: 75%; }
  .pascal-col-lg-10 {
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .pascal-col-lg-offset-10 {
    margin-left: 83.33333%; }
  .pascal-col-lg-11 {
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .pascal-col-lg-offset-11 {
    margin-left: 91.66667%; }
  .pascal-col-lg-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .pascal-col-lg-offset-12 {
    margin-left: 100%; } }

@media screen and (min-width: 75em) {
  .pascal-col-xl-1 {
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .pascal-col-xl-offset-1 {
    margin-left: 8.33333%; }
  .pascal-col-xl-2 {
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .pascal-col-xl-offset-2 {
    margin-left: 16.66667%; }
  .pascal-col-xl-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .pascal-col-xl-offset-3 {
    margin-left: 25%; }
  .pascal-col-xl-4 {
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .pascal-col-xl-offset-4 {
    margin-left: 33.33333%; }
  .pascal-col-xl-5 {
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .pascal-col-xl-offset-5 {
    margin-left: 41.66667%; }
  .pascal-col-xl-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .pascal-col-xl-offset-6 {
    margin-left: 50%; }
  .pascal-col-xl-7 {
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .pascal-col-xl-offset-7 {
    margin-left: 58.33333%; }
  .pascal-col-xl-8 {
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .pascal-col-xl-offset-8 {
    margin-left: 66.66667%; }
  .pascal-col-xl-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .pascal-col-xl-offset-9 {
    margin-left: 75%; }
  .pascal-col-xl-10 {
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .pascal-col-xl-offset-10 {
    margin-left: 83.33333%; }
  .pascal-col-xl-11 {
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .pascal-col-xl-offset-11 {
    margin-left: 91.66667%; }
  .pascal-col-xl-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .pascal-col-xl-offset-12 {
    margin-left: 100%; } }

.pascal-hide {
  display: none; }

@media print, screen and (min-width: 40em) {
  .pascal-sm-hide {
    display: none; } }

@media print, screen and (min-width: 48em) {
  .pascal-md-hide {
    display: none; } }

@media print, screen and (min-width: 64em) {
  .pascal-lg-hide {
    display: none; } }

@media print, screen and (min-width: 75em) {
  .pascal-xl-hide {
    display: none; } }

.pascal-container {
  max-width: 1616px;
  margin: 0 auto;
  width: 100%;
  padding: 0 1rem; }
  .pascal-container__fluid {
    max-width: 100%;
    margin: 0 auto;
    width: 100%;
    padding: 0 1rem; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px; }

p {
  font-size: 1.125rem; }

h1, h2, h3, h4, h5 {
  color: var(--pascal-black); }

h1 {
  font-size: 2.5rem;
  font-weight: 100; }

h2 {
  font-size: 2.25rem;
  font-weight: 300; }

h3 {
  font-size: 1.875rem;
  font-weight: 700; }

h4 {
  font-size: 1.5rem;
  font-weight: 400; }

h5 {
  font-size: 1rem;
  font-weight: 400; }

.pascal-footer {
  background-color: var(--pascal-white);
  box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.1); }
  .pascal-footer__links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 80px;
    font-size: 0.75rem;
    margin: 0;
    padding: 0; }
    .pascal-footer__links li {
      position: relative;
      list-style-type: none;
      margin-right: 1.5rem; }
  .pascal-footer__copyright + li + li:before {
    content: "-";
    position: absolute;
    margin-left: -0.75rem; }
